<div class="row">
    <div class="col">
        <app-text>Customers</app-text>
    </div>

    <div class="col">
        <div class="d-flex flex-row justify-content-end">
            <app-button [routerLink]="route">Add new employee</app-button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col pt-2 pb-2 mb-4">
        <app-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </app-text>
    </div>
</div>
