<div class="card p-3 pointer">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <app-image [src]="item.profileImage"></app-image>
            <div class="d-flex flex-column ml-3">
                <app-text class="mb-1">{{item.employee_name}}</app-text>
                <app-text class="mb-1">{{item.employee_age}}</app-text>
                <app-text>{{item.employee_salary}}</app-text>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center">
            <i-feather name="chevron-right"></i-feather>
        </div>
    </div>
</div>
